name: CI

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

  schedule:
    - cron: "0 6 * * 1"

jobs:
  specs:
    name: Specs
    runs-on: ubuntu-latest
    container: crystallang/crystal
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Install shards
        run: shards install

      - name: Run specs
        run: crystal spec

  check-format:
    name: Check format
    runs-on: ubuntu-latest
    container: crystallang/crystal
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Check sources format
        run: crystal tool format --check

  ameba:
    name: Ameba linter
    runs-on: ubuntu-latest
    container: crystallang/crystal
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Install shards
        run: shards install

      - name: Run ameba
        run: bin/ameba
